@using Microsoft.AspNetCore.Components.Authorization
@using Nirdeshika.Web.Components.Layout

<CascadingAuthenticationState>
    <Router AppAssembly="typeof(Program).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData"
                                DefaultLayout="@typeof(MainLayout)">
                <NotAuthorized>
                    @if (context.User.Identity?.IsAuthenticated ?? false)
                    {
                        <h3>You are not yet approved. Please contact admin.</h3>
                    }
                    else
                    {
                        <RedirectToLogin />
                    }
                </NotAuthorized>
            </AuthorizeRouteView>
        </Found>
        <NotFound>
            <h3>Sorry, page not found</h3>
        </NotFound>
    </Router>
</CascadingAuthenticationState>
